<div [formGroup]="workflowForm" class="m-10 flex rounded bg-slate-100 p-2 shadow">

  <div id="sidebar" class="flex-shrink flex flex-col bg-red-200 p-2">
    <input class="mb-2" formControlName="workflowName" />
    <input class="mb-2" formControlName="triggerEvent" />
    <input class="mb-2" formControlName="approvalSpan" />
    <input class="mb-2" formControlName="postAction" />
    <input type="checkbox" class="mb-2" formControlName="isSystem" />
    <input type="checkbox" class="mb-2" formControlName="isActive" />

    <button (click)="save()">save</button>
    
  </div>
  <div id="steps" class=" flex-grow bg-blue-200 p-2">
    <div id="s1" class="flex flex-row p-1">
      <input />
      <input />
      <input />
    </div>

  </div>


</div>


{{workflowForm.value | json}}